* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(202, 230, 239);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 7%;
    margin-bottom: 3%;
}

/***** home page navigatie ******/
.nav {
    display: flex;
}

.nav img {
    width: 12em;
}

/***** navigatie bar bottom *****/

.menu {
    display: flex;
    position: fixed;
    overflow: hidden;
    bottom: 0%;
    width: 100%;
    background-color: rgb(21, 61, 108);
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu img {
    justify-content: space-evenly;
    height: 3em;
    width: 3em;
    padding: 0.75em;
}

/******** index1.html ons verhaal *******/
h1,
h2,
h3,
h4,
h5 {
    color: aliceblue;
    color: rgb(117, 117, 118);
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1em ;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

h1 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 0.5em;
}

h2 {
    font-style: italic;
}

h2, h3 {
    font-weight: 900;
}



/********** index5.htlm plastic melden ********/

form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    overflow: hidden;

}

form:focus {
    border: 3px solid #555;
}