* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(202, 230, 239);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 7%;
    margin-bottom: 3%;
}

h1,
h2,
h3,
h4,
h5 {
    color: rgb(117, 117, 118);
    font-size: small;
    font-family: sans-serif;
    line-height: 1.75em;
    margin-right: 2em;
    margin-left: 2em;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-size: 16px;
    padding-bottom: 0.5em;
}

h2 {
    margin-bottom: 1em;
}

h3 {
    margin-top: 1em;
    font-weight: bold;
}


/***** navigatie bar bottom *****/

.menu {
    display: flex;
    position: fixed;
    overflow: hidden;
    bottom: 0%;
    width: 100%;
    background-color: rgb(21, 61, 108);
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu img {
    justify-content: space-evenly;
    height: 3em;
    width: 3em;
    padding: 0.75em;
    z-index: 3;
}

/***** index.html home pagina navigatie ******/
.nav {
    display: flex;
}

.nav img {
    width: 12em;
}

.whale {
    display: flex;
    justify-content: center;
}

.whale img {
    width: 20em;
    height: 10em;
    position: fixed;
    bottom: 0.75em;
    z-index: -1;
}

footer {
    padding-top: 5em;
}

/******** index1,2,4,5 ********/

.walvis {
    display: flex;
    justify-content: center;
}

.walvis img {
    width: 20em;
    height: 10em;
    position: fixed;
    bottom: 0.75em;
    z-index: -1;
}

.italic {
    italic
}


/******** index1.html ons verhaal *******/



/******* index2.html help mee *********/

button {
    background-color: rgb(54, 104, 162);
    border: none;
    border-radius: 1.5em;
    transition-duration: 0.4s;
    margin-left: 2.5em;
    margin-top: 1em;
}

button a {
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: rgb(48, 156, 193);
    color: white;
    transition-duration: 0.4s;
}

/******* index4.html statistieken *********/

.grafiek {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.grafiek img {
    height: 15em;
    width: 20em;
}

.statistieken {
    display: flex;
    overflow: hidden;
    margin: 1em;
    align-items: center;
}

span {
    float: left;
    color: rgb(117, 117, 118);
    font-size: 1.5em;
}

.statistieken img {
    width: 10em;
    height: 10em;
}

span {
    color: rgb(117, 117, 118);
    font-size: medium;
    font-family: sans-serif;
    line-height: 1.75em;
    font-weight: lighter;
}

/********** index5.htlm plastic melden ********/

form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 3;
}

form:focus {
    border: 3px solid #555;
}

.verzenden {
    background-color: rgb(54, 104, 162);
    border: none;
    margin: 1.5em;
    border-radius: 1.5em;
    transition-duration: 0.4s;
    display: flex;
    justify-content: right;
    z-index: 2;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.verzenden :hover {
    background-color: rgb(48, 156, 193);
    color: white;
    transition-duration: 0.4s;
}

.achtergrond {
    display: flex;
    justify-content: center;
    z-index: 3;
}

.achtergrond img {
    height: 30em;
    width: 22em;
}