body {
    background-color: rgb(202, 230, 239);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}

h1,
h2,
h3,
p {
    font-size: small;
    font-family: sans-serif;
    line-height: 1.75em;
    margin-right: 2em;
    margin-left: 2em;
    font-weight: lighter;
}

h1 {
    font-size: 16px;
    text-align: center;
}

h2,
h3 {
    font-weight: bold;
}

.italic {
    font-weight: lighter;
    font-style: italic;
}

/***** navigatie bar bottom index,1,2,4,5 *****/

.menu {
    display: flex;
    position: fixed;
    overflow: hidden;
    bottom: 0%;
    background-color: rgb(21, 61, 108);
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
}

.menu img {
    display: flex;
    justify-content: space-evenly;
    height: 3em;
    width: 3em;
    padding: 0.75em;
}

/***** index.html home ******/

.nav {
    display: flex;
    justify-content: center;
}

.nav img {
    width: 11.5em;
}

.whale {
    display: flex;
    justify-content: center;
}

.whale img {
    width: 20em;
    height: 10em;
    position: fixed;
    bottom: 0.75em;
    z-index: -1;
}

footer {
    padding-top: 5em;
}

/******** index1,2,4,5 walvis achtergrond ********/

.walvis {
    display: flex;
    justify-content: center;
}

.walvis img {
    width: 20em;
    height: 10em;
    position: fixed;
    bottom: 0.75em;
    z-index: -2;
}

/******** index1.html ons verhaal *******/

.info-foto {
    float: left;
    margin: 1em;
}

.info-foto img {
    width: 6em;
    height: 6em;
}

/******* index2.html help mee *********/

button {
    background-color: rgb(54, 104, 162);
    border-radius: 1.5em;
    border: none;
    margin-left: 2.5em;
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

button a {
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.foto {
    float: right;
    margin: 1em;
}

.foto img {
    width: 10em;
    height: 10em;
    border-radius: 1em;
}

.foto2 {
    float: left;
    margin: 1em;
}

.foto2 img {
    width: 8em;
    height: 8em;
    border-radius: 1em;
}

/******* index4.html statistieken *********/

.grafiek {
    margin-bottom: 1em;
}

.grafiek img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: 20em;
    margin-bottom: 1em;
}

.legenda {
    margin-left: 2em;
    display: flex;
}

.legenda img {
    height: 3em;
    width: 3em;
    margin-right: 2em;
    margin-bottom: 1em;
}

.kaart {
    display: flex;
    justify-content: center;
}

.kaart img {
    height: 25em;
    width: 20em;
    margin-top: 1.5em;
}

.statistieken {
    display: flex;
    overflow: hidden;
    margin: 1em;
    align-items: center;
}

.statistieken img {
    width: 10em;
    height: 10em;
}

div span {
    font-size: medium;
    font-family: sans-serif;
    line-height: 1.75em;
    margin-right: 2em;
    margin-left: 2em;
    font-weight: lighter;
}

/********** index5.htlm plastic alert  ********/

form {
    margin: 0 25% 0 25%;
}

.formulier {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 0.2em;
    margin-right: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}

.verzenden {
    background-color: rgb(54, 104, 162);
    border-radius: 1.5em;
    border: none;
    margin-top: 0.5em;
    padding: 0.5em;
}

.verzenden {
    color: white;
    padding: 10px 25px;
    font-size: 16px;
}

.beschrijving {
    padding-top: 0.5em;
}

div label {
    font-family: sans-serif;
}